// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$body-color: #2e2e2e;
// Colors
$blue: #76b7d6;
$blue-dark: darken($blue, 50%);
$blue-light: lighten($blue, 20%);
$blue-lighter: #C4CFEE;
$blue-lighter-2: #D6F3FE;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #FFCC95;
$yellow: #ffed4a;
$green: #39BA6E;
$green-light: #D4F2E1;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #C7C7C7;
$beige: #dbbeb4;
$white: #ffffff;

// Body
$body-bg: $white;

$font-size-base: 1rem;
$line-height-base: 1.6;

$font-size-body: 16px;
$font-size-text: 14px;
$font-size-notes: 12px;

$font-color: $body-color;

$colors: (
    "blue": $blue,
    "orange": $orange,
    "gray": $grey,
    "gray-dark": #5b5b5b,
    "gray-light": #e4e4e4
);

$theme-colors: (
    "primary": $blue,
    "danger": $red,
    "success": $green
);

$html-font-size: 16px;
$navbar-light-bg-color: #E6F6F1;
