// bootstrap
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "buttons";
@import "footer";

.navbar {
    background-color: $navbar-light-bg-color;
}

.alert {
    z-index: 1;
    margin-bottom: 0;
}
