@import "resources/sass/variables";

.card-title {
    font-weight: bold;
    font-size: toRem(18);
    text-align:center;
}

.card-subtitle {
    font-size: toRem(14);
    font-style: italic;
}

.rate-text {
    font-size: toRem(10);
    color: $gray-600;
}

.rate-link {
    text-decoration: underline;
    color: $gray-600;
}

.fa-star {
    font-style: toRem(20);
    color: $yellow;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-container {
    position: absolute;
    right: 0;

    .actions-btn {
        height: auto;
        padding: 5px;
    }
}
/*
.card {
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    flex: 0;
    &:hover:not(.disabled) {
        cursor: pointer;
        box-shadow: 3px 5px 9px 5px rgba(0, 0, 0, 0.2);
    }
    width:300px;
    margin-right:20px;
    min-width:auto;
    margin-bottom: 20px;
    img {
        width: 150px;

    }

}
*/


.form-new {
    border: 2px solid grey;
    max-width: 830px;
    margin: 0 auto;

    &__title {
        font-size: 2rem;
        font-weight: 600;
    }

    &__fields {
        span,
        .required-text {
            color: rgb(255, 0, 0);
            font-size: 1.4rem;
            font-weight: 400;
        }
    }

    &__prototype-file,
    a {
        color: $gray-600;
        &:link {
            color: #ffffff !important;
        }
        &:hover {
            color: #ffffff !important;
        }

    }

    .example{
        a {
            color: $blue-dark !important;
            &:hover {
                color:  $blue-light  !important;
            }
            &:link {
                color: $green;
            }
        }

    }

    .form-new__submmit-btn{
        a{
            color: $blue-light;
            outline: 3px solid $blue-light;
        }
    }

    &__prototype-file {
        background-color:  $blue-light;
        font-size: small;
        padding: 0.5rem;
        &:hover{
            color: black !important;
        }
    }

    &__submit-exercise-file {
        .pdf-file {
            .btn {
                min-width: 5rem;

                &.circle {
                    background: white;
                    border: 2px solid black;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }

            .file {
                position: relative;
                overflow: hidden;

                input {
                    position: absolute;
                    font-size: 50px;
                    opacity: 0;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                }
            }
        }

        .uploaded-file {
            border: 1px solid grey;
            display: inline-block;
            color: var(--color-green);

            button {
                min-width: 5rem;
            }
        }
        .copyright-rules {
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
        }


        .admin-message-options {
            background-color: orange;
            color: #ffffff;
        }
    }

    &__submmit-btn {
        flex-wrap: wrap;
    }
}


.all-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .single-card {
        width: 300px;
        position: relative;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;

        .card-title {
            min-height: 50px;
        }

        img {
            width: 150px;
            height: 150px;
        }

        .card-body {
            width: 200px;
        }

    }
}

.modal {
    .modal-wrapper {
        padding-top: 2%;
    }
}

.dropdown-menu {
    z-index: 100000;
}
